@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Source+Sans+Pro');

html {
    font-size: 16px;
    line-height: 1.3em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    position: absolute;
    top: 8em;
    left: 0;
    width: 100px;
    background-color: #eeeeee;
    padding: 10px;
}

nav a.active:link, nav a.active:visited {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a {
    display: block;
}

nav a + a {
    margin-top: 0.5em;
}

nav a[href="/privacy"] {
    font-size: smaller;
}

nav div, nav button, nav hr + button + hr {
    display: none;
}

#show_nav {
    display: none;
}

@media (max-width: 700px) {
    nav {
        display: none;
    }
    
    nav:active, #show_nav:focus ~ nav {
        display: initial;
        left: initial;
        right: 0px;
        top: 42px;
    }

    #show_nav {
        display: initial;
        position: absolute;
        top: 2px;
        right: 10px;
        width: 32px;
        height: 32px;
        background: url(menu-32x32.png) no-repeat;
        border: 0;
        padding: 0;
    }

    #show_nav:focus {
        background: url(menu-pressed-32x32.png) no-repeat;
        outline: none;
    }

    nav button, nav div {
        display: block;
    }

    nav hr + button + hr {
        display: block;
    }

    nav a + button, nav div {
        margin-top: 10px;
    }
}

header {
    padding: 10px 10px 8px 8.75em;
    background-color: #eeeeee;
}

header #volleyball {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 140px;
    background: url(volleyball-100x140.png) no-repeat;
}

header h2 {
    margin: 0;
    display: inline;
}

header h2 a {
    position: relative;
    top: 2px;
    left: 5px;
}

header #user_name {
    position: relative;
    top: -1px;
}

header input {
    vertical-align: middle;
}

header > *:not(h2) {
    float: right;
}

header > * + * + * {
    margin-right: 10px;
}


@media (max-width: 700px) {
    header {
        padding-left: 10px;

    }
    header #volleyball {
        top: 5px;
        left: 5px;
        width: 40px;
        height: 56px;
        background: url(volleyball-40x56.png) no-repeat;
    }

    header h2 {
        display: block;
        margin-left: 2em;
    }

    header > div:not(#volleyball), header > button, header span, header a {
        display: none;
    }
}

section {
    margin: 10px 0px 10px 8.75em;
    min-height: 20em;
    max-width: 50em;
}


@media (max-width: 700px) {
    section {
        margin-left: 1em;
        margin-right: 1em;
    }
}

footer {
    padding: 5px 10px 5px 8.75em;
    background-color: #eeeeee;
    height: 20px;
    position: relative;
}

@media (max-width: 700px) {
    footer {
        padding: 5px;
        height: initial;
    }
}

footer label {
    position: absolute;
    left: 10px;
    font-size: initial;
}

@media (max-width: 700px) {
    footer label {
        display: none;
    }
}

footer span {
    display: inline-block;
}

@media (max-width: 700px) {
    footer span {
        display: block;
    }
}

footer span + span {
    margin-left: 1em;
}

@media (max-width: 700px) {
    footer span + span {
        margin-left: 2px;
    }
}

footer img {
    float: left;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

footer #version {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: smaller;
}

nav a:link, nav a:visited,
header a:link, header a:visited,
footer a:link, footer a:visited {
    color: rgb(0, 0, 238);
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

th {
    text-align: left;
}

td.no_border {
    border: none;
}

td.number {
    text-align: right;
}

table.light {
    border-style: hidden;
}

input {
    font-family: 'Source Sans Pro', sans-serif;
}

input[type="checkbox"] {
    margin-right: 3px;
}

input[type="button"] {
    font-size: smaller;
}

label {
    font-size: smaller;
}

input[type="number"], input.time {
    width: 3em;
}

dialog {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    max-width: 24em;
}

dialog.notification {
    position: fixed;
    margin: 0;
    top: 20px;
    left: 12em;
    padding: 10px;
    border-radius: 0;
}

@media (max-width: 700px) {
    dialog.notification {
        left: 2em;
        margin-right: 4em;
    }
}

dialog.notification.success {
    border-color: #42881b;
}

dialog.notification.error {
    border-color: #b70707;
}

dialog.notification.warning {
    border-color: #cf9819;
}

dialog.notification img.icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

dialog.notification img.close {
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 5px;
}

dialog.notification.sticky img.close {
    display: none;
}

input + input {
    margin-left: 10px;
}

span.important {
    font-weight: bold;
}

span.definition {
    font-weight: bold;
}

section.text {
    max-width: 40em;
    font-family: 'Noto Serif SC', serif;
    line-height: 1.4em;
}

section#intro img {
    position: relative;
    top: 4px;
    margin-right: 5px;
}

section#intro button {
    margin: 10px 0;
}

section#instructions #transactions th {
    width: 10em;
}

section#instructions #transactions td {
    font-family: 'Noto Serif SC', serif;
}

section#games td.players, section#games th.players {
    max-width: 220px;
}

section#games td.actions, section#games th.actions {
    max-width: 8em;
}

section#games td.actions, section#games th.actions p {
    max-width: 8em;
}

section#games td.players {
    vertical-align: top;
}

section#games td.players span {
    display: block;
    font-size: smaller;
}

section#games td.players img {
    margin-top: 5px;
    margin-right: 5px;
}

section#games td.players .waiting_list {
    margin-top: 5px;
}

section#games td.players .waiting_list img {
    opacity: 0.3;
}

section#games td input[type="text"] {
    width: 100%;
}

section#games td input[type="text"].time {
    width: 3em;
}

section#games td > input[type="button"] {
    display: block;
    margin-left: 0;
}

section#games td > input[type="button"] + input[type="button"] {
    margin-top: 5px;
}

section#games .positive_balance {
    color: green;
}

section#profile label {
    font-size: initial;
}

section#profile form {
    margin-bottom: 0;
}

section#profile table#payments {
    margin-bottom: 1em;
    border-collapse: separate;
    border-spacing: 2px;
}

section#profile table#payments th {
    border: none;
}

section#profile input[type="button"] {
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    section#games table {
        display: block;
    }
    section#games tr {
        display: block;
        border-bottom: 1px solid black;
        margin: 0.5em 0em;
    }
    section#games tr:first-child {
        display: none;
    }
    section#games td {
        display: block;
        border: 0;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    section#games td.actions {
        margin-top: 10px;
        max-width: initial;
    }

    section#games td.actions p {
        margin: 0.5em 0em;
    }
}

section#players .player img {
    vertical-align: middle;
    margin-right: 5px;
}

form.commitable_input {
    display: inline-block;
}

form.commitable_input input {
    background-color: #dddddd;
}

form.commitable_input input:focus {
    background-color: #ffffff;
}

.smaller {
    font-size: smaller;
}

.sans_serif {
    font-family: 'Source Sans Pro', sans-serif;
}

.negative_balance {
    color: darkred;
}

@-moz-document url-prefix() {
    h2, h3, h4, h5 {
        letter-spacing: -1px;
    }

    nav, th {
        letter-spacing: -0.3px;
    }    
}
